@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #f7d794;
    height: 100vh;
    width: 100vw;
}

p{
    background-color: #FAFAFA;
    color: #f5cd79;
    display: inline-flex;
    justify-content: center;
    font-size: 50px;
    width: 300px;
    height: 70px;
    border-radius: 5px ;
    box-shadow: 1px 2px 5px rgba(1, 1, 1,0.3);
}

.tiempo button{
    font-family: inherit;
    color: white;
    font-size: 1.2rem;
    border: none;
    background-color: #574b90;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 5px rgba(255, 255, 255, 0.05);
    outline: none;
    width: 300px;
}
.tiempo button:hover{
    background-color: #786fa6;
}

.accion button{ 
    font-family: inherit;
    color: white;
    font-size: 1.2rem;
    border: none;
    background-color: #e15f41;
    padding: 10px 15px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.05);
    outline: none;
    width: 150px;
}
.accion button:hover{
    background-color: #e77f67;
}