.review{
    min-width: 18rem;
    padding: 3rem;
    border-top: 1px solid rgba($color: #1a202c, $alpha: 0.15);
    border-bottom: 1px solid rgba($color: #1a202c, $alpha: 0.15);
    &__title{
        margin-top: 0;
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
    }
    &__list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        &__item{
            font-size: 1.6rem;
            user-select: none;
            filter: grayscale(1);

            transition: filter 0.2s, transform 0.2s;

            &:hover{
                cursor: pointer;
                filter: grayscale(0);
                transform: scale(1.4);
            }
        }
        

    }
}

