@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.form-control{
    position: relative;
    margin: 20px 0;
    width: 300px;
}

.form-control input{
    border: 0;
    border-bottom: 2px solid #333;
    display: block;
    font-family: inherit;
    font-size: 18px;
    padding: 15px 0;
    width: 100%;
    transition: 0.1s ease-in;
}
.form-control input:focus,
.form-control input:valid{
    border-bottom-color: darksalmon;
    outline: none;
}
.form-control label{
    font-size: 18px;
    position: absolute;
    top: 15px;
    left: 0;
}
.form-control input:focus + label span,
.form-control input:valid + label span
{
    color: darksalmon;
    transform: translateY(-30px);
}

.form-control label span{
    display: inline-block;
    transition: 0.3s ease;
    min-width: 5px;
}