@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
/* html {
    scroll-behavior: smooth;
  } */
body{
    font-family: 'poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}
#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62729;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
}

#btnScrollToTop:active{
    background: #cc2333;
}