@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-day-bg: #0984e3;
	--color-day-icon: #ffe4a1;
	--color-night-bg: #032b43;
	--color-night-icon: #b9c6d3;
	--color-light: #ffffff;
	--color-dark: #4a4a4a;
	--color-charcoal: #252525;
	--color-shadow-light: rgba(48, 48, 48, 0.15);
	--color-shadow-mid: rgba(0, 0, 0, 0.25);
	--color-shadow-dark: rgba(0, 0, 0, 0.9);
	--font-base-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
	--font-label-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
	--metric-toggle-thumb-size: 1.4rem;
	--metric-toggle-thumb-space: 0.25rem;
	--metric-toggle-icon-space: 0.4rem;
	--transition-snappy-duration: 500ms;
	--transition-silky-duration: 200ms;
	--transition-icon: opacity var(--transition-snappy-duration) ease,
		transform var(--transition-silky-duration) cubic-bezier(1, 0, 0.55, 0.85);
	--transition-delay-icon: 1000ms;
}

body {
	background: var(--color-light);
	color: var(--color-charcoal);
	.toggle__element {
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: var(--metric-toggle-thumb-size);
		width: 1em;
		height: 1em;
	}
	font-family: var(--font-base-family);
	display: grid;
	place-items: center;
}
.toggle {
	font-family: var(--font-label-family);
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
	position: relative;
}

.toggle:not([hidden]) {
	display: flex;
	align-items: center;
}
.toggle__element {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: var(--metric-toggle-thumb-size);
	width: 1em;
	height: 1em;
}
.toggle__decor {
	--color-toggle-decor-bg: var(--color-day-bg);

	display: block;
	position: relative;
	overflow: hidden;
	width: calc((var(--metric-toggle-thumb-size) * 2) + (var(--metric-toggle-thumb-space) * 2));
	height: calc(var(--metric-toggle-thumb-size) + (var(--metric-toggle-thumb-space) * 2));
	background: var(--color-toggle-decor-bg);
	margin-left: 0.5rem;
	border-radius: var(--metric-toggle-thumb-size);
	transition: background var(--transition-snappy-duration);
	transition-delay: var(--transition-snappy-duration);
	box-sizing: content-box;
	border: 1px solid var(--color-light);
}
.toggle__thumb {
	display: grid;
	place-items: center;
	width: var(--metric-toggle-thumb-size);
	height: var(--metric-toggle-thumb-size);
	border-radius: var(--metric-toggle-thumb-size);
	background: linear-gradient(229.84deg, rgba(255, 255, 255, 0) 14.29%, rgba(48, 48, 48, 0.15) 81.82%), #ffffff;
	color: var(--color-day-icon);
	box-shadow: 0 0 var(--metric-toggle-thumb-space) var(--color-shadow-mid);
	position: absolute;
	top: var(--metric-toggle-thumb-space);
	left: var(--metric-toggle-thumb-space);
	transform: none;
	transition: transform var(--transition-silky-duration) cubic-bezier(1, 0, 0.55, 0.85);
	will-change: transform;
	z-index: 1;
}

.toggle__thumb::before {
	content: '';
	display: none;
	width: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
	height: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
	border: 2px solid var(--color-dark);
	border-radius: calc(var(--metric-toggle-thumb-size) - var(--metric-toggle-thumb-space));
}
.toggle__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.9em;
}

.toggle__icon[data-state='checked'] {
	left: var(--metric-toggle-icon-space);
	fill: var(--color-night-icon);
	opacity: 0;
	transform: translateY(-1rem);
}

.toggle__icon[data-state='un-checked'] {
	right: var(--metric-toggle-icon-space);
	fill: var(--color-day-icon);
	transition: var(--transition-icon);
	transition-delay: var(--transition-delay-icon);
}
.toggle__decor:hover .toggle__thumb {
	margin-left: 1px;
}

:checked + .toggle__decor:hover .toggle__thumb {
	margin-left: -1px;
}
:checked + .toggle__decor {
	--color-toggle-decor-bg: var(--color-night-bg);
}

:checked + .toggle__decor .toggle__thumb {
	transform: translateX(var(--metric-toggle-thumb-size)) rotate(270deg);
	box-shadow: 0 0 var(--metric-toggle-thumb-space) var(--color-shadow-dark);
}

:checked + .toggle__decor .toggle__icon[data-state='checked'] {
	opacity: 1;
	transform: translateY(-50%);
	transition: var(--transition-icon);
	transition-delay: var(--transition-delay-icon);
}

:checked + .toggle__decor .toggle__icon[data-state='un-checked'] {
	opacity: 0;
	transform: translateY(1rem);
	transition: none;
}

:focus + .toggle__decor:not(:hover) .toggle__thumb::before {
	display: block;
}

:disabled + .toggle__decor {
	filter: grayscale(1) brightness(1.5);
	cursor: not-allowed;
}

body.dark {
	background: var(--color-charcoal);
	color: var(--color-light);
}
