@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    background-image: radial-gradient(circle 360px at 50% 50%, rgba(54,96,172,1) 0%, rgba(46,53,89,1) 100.2%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.element{
    height: 0;
    width: 0;
    border: 50px solid transparent;
    border-left-color: #fff;
    border-bottom-color: #fff;
}