@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Fuentes: 
    - Montserrat
    - Nunito
    - Poppins
    - Sora
*/
body{
    
    margin: 25px;
}

.icon-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #333;
    background: #ddd;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: 0.2s ease;
    
}
.icon-button:hover{
    cursor: pointer;
    background:#ccc ;
}
.icon-button:active{
    transform: scale(0.98);
}

.icon-button__badge{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background:red;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}