@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    background: #040404;
}
label{
    position: relative;
}
label svg{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #393838;
    transition: color 0.2s;
}
label:focus-within svg{
    color:#f5f8ff;
}
label input{
    font-family: inherit;
    font-size: 1.2rem;
    color: #f5f8ff;

    background:rgba(245, 248, 255, 0.025);
    min-width: 12rem;
    padding: 1rem 1.4rem 1rem 3.2rem;
    outline: none;
    border: 0.15rem solid transparent;
    border-radius: 0.4rem;

    transition: border-color 0.2s, box-shadow 0.2s;
}
label:hover input{
    border-color: rgba(245, 248, 255, 0.02);
}

label input::placeholder{
    color: #393839;
    user-select: none;
}

label input:focus{
    border-color: #ff4754;
    box-shadow: 0 0 0 0.4rem rgba(255, 71, 84, 0.15);
}
