@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.loading-container{
    background-color: #fff;
    border: 3px solid #000;
    padding: 10px;
    position: relative;
    width: 400px;
    max-width: 100%;
}
.loading-container::after{
    background-color: #fff;
    content: '';
    position: absolute;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center left;
    transform: scaleX(0);
    animation: grow 5s linear infinite;
}
@keyframes grow{
    to{
        transform: scaleX(1);
    }
}
h1{
    margin: 0;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}