@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 50px;
}