@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #4bcffa;
    margin: 0;
    font-family: "poppins", sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
    width: 600px;
    max-width: 100%;
    text-align: center;
}
.box h2{
    margin-top: 0;
}
.box p{
    margin: 2rem;
}
.box button{
    background-color:#3c40c6;
    border: 0;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 20px;
    font-family: inherit;
    font-size: 16px;
    transition: transform 0.2s linear;
}

.box button:active{
    
    transform: scale(0.97);
}
.box button:focus{
    outline: none;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding:10px;
    margin-bottom: 5px;
    width: 100%;

}
.form-control-radio{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: flex;
    font-family: inherit;
    justify-content: center;
    font-size: 16px;
    padding:10px;
    margin-bottom: 5px;
    width: 100%;
    

}
.gen {
    margin: 5px;
}

