$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #0e6cff;
//$primary-color: #e0ffff;
$secondary-color:#ff8700;

//Texto basado en color
@function set-text-color($color){
    @if(lightness($color) > 70){
        @return #333;
    }@else{
        @return #fff;
    }
}
//Establecer background y color de texto
@mixin set-background($color){
    background-color: $color;
    color:  set-text-color($color);
}

