@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #192a56;
    color: #fff;
    font-family: 'poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
h1{
    font-size: 70px;
    margin: 0;
}
p{
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    margin: 0;
}