@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Fuentes: 
    - Montserrat
    - Nunito
    - Poppins
    - Sora
*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}