@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
	background: #050115;
	color: #d5fff7;
	font-family: 'poppins',sans-serif;
	overflow: hidden;
}
#building {
	display: flex;
	width: 35em;
	height: 100vh;
	margin: auto;
}
#blocks {
	margin: auto;
}
#caption {
	padding-left: 0.5em;
	margin: auto;
	font-size: 2.5em;
}
.b {
	background: #d5fff7;
	border: 0.3em solid #89f2f2;
	width: 4.5em;
	height: 4.5em;
	border-radius: 0.5em;
	margin: 1em;
	position: relative;

	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#b1 {
	animation-name: b1;
}
#b2 {
	margin-left: 7.25em;
	animation-name: b2;
}
#b3 {
	margin-top: -6em;
	animation-name: b3;
}
#b4 {
	margin-left: 7.25em;
	animation-name: b4;
}
@keyframes b1 {
	0% {
		left: 0em;
		transform: rotate(0deg);
	}
	50% {
		left: 6.25em;
		bottom: 0em;
		transform: rotate(90deg);
	}
	100% {
		left: 6.25em;
		bottom: -6.125em;
		transform: rotate(90deg);
	}
}
@keyframes b2 {
	50% {
		bottom: 0em;
	}
	100% {
		bottom: -6.125em;
	}
}
@keyframes b3 {
	50% {
		top: 0em;
	}
	100% {
		top: -6.125em;
	}
}
@keyframes b4 {
	0% {
		left: 0em;
		transform: rotate(0deg);
	}
	50% {
		left: -6.25em;
		top: 0em;
		transform: rotate(90deg);
	}
	100% {
		left: -6.25em;
		top: -6.125em;
		transform: rotate(90deg);
	}
}

@media (max-width: 400px) {
	#building {
		width: 100%;
	}
	#caption {
		display: none;
	}
}
