@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* *{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
} */

html,
body{
    margin: 0;

}
.banner{
    background: #009579;
    transition: all 1s;
}
.banner__content{
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}

.banner__text{
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}
.banner__close{
    background: none;
    border: none;
    cursor: pointer;
}
.banner__text,
.banner__close > span{
    color: #fff;
}