@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body{
    padding: 2rem;
}

.fancy-burger{
    position: relative;
    width: 100px;
    height: 80px;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.rectangle{
    position: absolute;
    height: 10px;
    background: black;
    border-radius: 4px;
    transition: transform 0.65s;
}
.rectangle--small{
    width: 50px;
}
.rectangle--top{
    top: 0;
    left: 0;
    transform-origin: top left;
}
.rectangle--middle{
    top: 50%;
    left: 0;
    width: 100px;
    transform: translateY(-50%);
}
.rectangle--bottom{
    bottom:0;
    right: 0;
    transform-origin: bottom right;
}
.box{
    position: absolute;
    top: 34px;
    left: 40px;
    width: 350px;
    height: 200px;
    border-radius: 33px;
    background: #5672fc;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition-property: opacity, transform;
    transition-duration: 0.65s;
}

.rectangle--top.open{
    transform:translateX(17px) rotate(45deg)
}
.rectangle--middle.open{
    transform: translateY(-50%) rotate(-45deg);
}
.rectangle--bottom.open{
    transform: translateX(-17px) rotate(45deg);
}
.box.open{
    opacity: 1;
    transform: scale(1);
}