@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    background-image: radial-gradient(circle 360px at 50% 50%, rgb(177, 136, 211) 0%, rgb(233, 134, 180) 100.2%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.element{
    background-color: rgb(226, 44, 44);
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(45deg) scale(1);
    animation: pulse 1s linear infinite;
}
.element::after{
    background: inherit;
    background-color: inherit;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100px;
    height: 100px;
}
.element::before{
    background: inherit;
    background-color: inherit;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100px;
    height: 100px;
}
@keyframes pulse{
    0%{
        transform: rotate(45deg) scale(1);
    }
    10%{
        transform: rotate(45deg) scale(1.1);
    }
    10%{
        transform: rotate(45deg) scale(0.9);
    }
    30%{
        transform: rotate(45deg) scale(1.2);
    }
    40%{
        transform: rotate(45deg) scale(0.9);
    }
    50%{
        transform: rotate(45deg) scale(1.05);
    }
    60%{
        transform: rotate(45deg) scale(0.95);
    }
    70%{
        transform: rotate(45deg) scale(1);
    }

}